.button {
    @include blue-button;
}
.button:hover {
    text-decoration: none;
    color: $white;
}
.navbar {
    position: relative;
    
    .button {
        position: absolute;
        top: 16px;
        right: 50px;
    }
    .navbar-collapse {
        padding-right: 150px;
        padding-top: 10px;
    }
    .navbar-toggler {
        position: absolute;
        top: 24px;
        right: 0;
        border: none !important;
        border-color: $white !important;
        outline: none !important;
    }
    .nav-item {
        font-size: 16px;
        color: $black;
        
        a.nav-link {
            padding: 0 25px;
        }
    }
}
h1 {
    font-size: 54px;
    font-weight: 700;
    margin-top: 130px;
}
h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: $grey;
    margin-top: 40px;
}
.header-button {
    margin-top: 95px;
    .wrapper {
        display: inline-block;
    }
    .button {
        padding: 0 80px;
        animation: radial-pulse 1s infinite;
    }
    @keyframes radial-pulse {
      0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5);
      }

      100% {
        box-shadow: 0 0 0 40px rgba(0, 0, 0, 0);
      }
    }
}
footer {
    .logo {
        display: inline-block;
        margin-top: 43px;
        margin-left: 40px;
    }
    .soc-icons a {
        display: inline-block;
        margin: 50px 20px 0;
    }
    .soc-icons i {
        color: $white;
        font-size: 40px;
    }
    .footer-line {
        font-size: 13px;
        color: $white;
        margin-top: 65px;
        margin-right: 45px;
    }
}