/*=========================== COLORS ======*/
$white: #fff;
$blue: #0285E4;
$light-blue: #E1F1FD;
$black: #000;
$grey: #5C5C5C;
/*================ MEASUREMENT UNITS ======*/
$nunito: "font-family: 'Nunito Sans', sans-serif;";